# Files
*.pyc
*.png

# Dir specific
DataXS/*/*
old/crit_flux/*.txt
old/crit_flux/*.eps

# LaTeX
*.aux
*.bbl
*.blg
*.dvi
*.idx
*.ilg
*.ind
*.lof
*.log
*.log
*.lot
*.toc
*.pdf
*.ps
*.dia~
*.out
*.xml
*-blx.bib
*.spl

# MCNP
*.o
*.r
